<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 style="font-family: 'Libre Bodoni', serif;">Welcome to Abid Blogs</h1>
    </header>
    <main>
        <div class="container">
            <div class="new">
            <button class="btnnew">
        <a href="/article/new" style="text-decoration:none; color:white;"> New Article</a> 
    </button> 
</div>
<div class="articles">
<div class="article" style="width:100%;">
    <div class="same">
   <h3>Why should you choose software engineering?</h3>
    <span>12.12.2021</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ducimus laborum. Nostrum excepturi, illo necessitatibus id impedit placeat nihil reiciendis vel est voluptatum fuga ab voluptates nulla officiis labore quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius odio quas tenetur nulla modi quisquam voluptatibus earum architecto est blanditiis voluptates nihil fugit, animi reiciendis maxime, autem fuga, excepturi iusto?</p>
</div> 
</div>
<div class="article">
    <div class="same">
    <h3>Why should you choose software engineering?</h3>
    <span>12.12.2021</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ducimus laborum. Nostrum excepturi, illo necessitatibus id impedit placeat nihil reiciendis vel est voluptatum fuga ab voluptates nulla officiis labore quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius odio quas tenetur nulla modi quisquam voluptatibus earum architecto est blanditiis voluptates nihil fugit, animi reiciendis maxime, autem fuga, excepturi iusto?</p>
</div>
</div>
<div class="article">
    <div class="same">
    <h3>Why should you choose software engineering?</h3>
    <span>12.12.2021</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ducimus laborum. Nostrum excepturi, illo necessitatibus id impedit placeat nihil reiciendis vel est voluptatum fuga ab voluptates nulla officiis labore quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius odio quas tenetur nulla modi quisquam voluptatibus earum architecto est blanditiis voluptates nihil fugit, animi reiciendis maxime, autem fuga, excepturi iusto?</p>
</div>
</div>
</div>  
        </div>
    </main>
</body>
</html>