<div class="form">
  <div class="hey">
  <label for="title">Upload a photo:</label><br>
  <input type="file" class="file" id="file" name="avatar" multiple/>
 </div>
 <div class="hey">
    <label for="title">Title:</label><br>
  <input required type="text" id="title" name="title"><br>
</div>
<div class="hey">
  <label for="des">Description</label><br>
  <textarea required type="text" id="des" name="des" cols="10" rows="10"></textarea>
  </div>
  <div class="hey">
    <label for="mark">Markup</label><br>
    <textarea required type="text" id="mark" name="mark" cols="10" rows="10"></textarea>
    </div>
    <div class="button">
    <button class="cancel">
        <a href="/">Cancel</a>
    </button>
    <button class="submit" type="submit">
        Submit
    </button>
</div>
</div>